{% load static %}
<link rel="stylesheet" href="{% static '/css/footer.css' %}" />
<div class="footer-body-wide">
  <div class="diva-big-logo">
    <img
      src="{% static '/images/diva_big_logo.svg' %}"
      class="diva-big-logo-img"
    />
  </div>
  <div class="contacts-wide">
    <div class="contactme">
      <div style="font-weight: 900">Danda Akshara</div>
      <div style="font-weight: 100">PR Head</div>
      <div style="font-weight: 100">+91 8919054239</div>
    </div>
    <div class="contactme contactme2">
      <div style="font-weight: 900">Siddhant Singh</div>
      <div style="font-weight: 100">PR Head</div>
      <div style="font-weight: 100">+91 9983072631</div>
    </div>
    <div class="contactme-mob">
        <div style="font-weight: 900">Danda Akshara</div>
        <div style="font-weight: 100">PR Head</div>
        <div style="font-weight: 100">+91 8919054239</div>
      </div>
      <div class="contactme-mob contactme2-mob">
        <div style="font-weight: 900">Siddhant Singh</div>
        <div style="font-weight: 100">PR Head</div>
        <div style="font-weight: 100">+91 9983072631</div>
      </div>
    <div class="icons">
      <a href="https://www.instagram.com/alcheringaiitg/"><img src="{% static '/images/instaIcon.svg' %}" class="icon-imgs"/></a>
      <a href="https://www.facebook.com/alcheringaiitg"><img src="{% static '/images/fbIcon.svg' %}" class="icon-imgs"/></a>
      <a href="https://twitter.com/alcheringaiitg"><img src="{% static '/images/twitterIcon.svg' %}" class="icon-imgs"/></a>
      <a href="https://www.youtube.com/c/AlcheringaIITG"><img src="{% static '/images/ytIcon.svg' %}" class="icon-imgs"/></a>
    </div>
    <div class="mail">
        For business inqueries: <a href="mailto:alcheringa@iitg.ac.in"><b>alcheringa@iitg.ac.in</b></a> 
    </div>

  </div>

</div>