{% load static %}
<link rel = "stylesheet" href = "{% static '/css/navbar.css' %}">
<div class="navbar-body">
    <div class="diva-logo">
        <a href="{% url 'home' %}"><img src = "{% static '/images/diva_logo.svg' %}" class="diva-logo-img" /></a>
    </div>
    <div class="alcher-heading">
        <a href='https://www.alcheringa.in/' target="_blank">ALCHERINGA </a>
    </div>
    <div class="alcher-logo">
        <a href='https://www.alcheringa.in/' target="_blank"><img src = "{% static '/images/alcher_logo.svg' %}" class="alcher-logo-img" /></a>
    </div>
</div>