* {
    
}

body {
    margin: 0;
}

.intro {
    position: -webkit-sticky;
    position: sticky;
    top:3rem;
    height:100vh;
    z-index: -1;
    overflow-y: hidden;
}

.hero-section {
    height: 80vh;
    margin: 2vw 0 0 0;
    display: flex;
    justify-content: center;
}
.hero-section-mob{
    height: 90vh;
 width: 100vw;
    display: flex;
    justify-content: center;
}
.hero-img {
    height: 100%;
 width: 100vw;

}

.scroll-down {
    display: flex;
    justify-content: center;
}

.scroll-down-img {
    width: 17vw;
    margin-bottom: 2vw;
}
@media screen and (max-width:700px){

    .scroll-down-img {
        width: 40vw;
        margin-top: 4vw;
    }
}
@media screen and (max-width:549px){
    .hero-section {
 display: none;
    }
    .scroll-down-img {
        width: 60vw;
        margin-top: 4vw;
    }
}
@media screen and (min-width:550px){
    .hero-section-mob {
 display: none;
    }

}
