@import "https://fonts.googleapis.com/css?family=Berkshire+Swash";
@import "https://fonts.googleapis.com/css?family=Outfit";
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
  margin: 0%;
}
@media (orientation: landscape) {
  .largest-box{
    position: sticky;
    top:3rem;
    overflow: hidden;
    background-color: #333333;
    /* width: 100vw; */
    height: 100vh;  
  }
}

.form-wide {
  box-sizing: border-box;
  display: flex;
  padding: 5%;
}
.registerForm {
  margin-left: 10px;
}

.form-mob {
  display: none;
}

.diva-img {
  width: 36vw;
  height: 44vw;
  margin-top: -1%;
}

.candidate-detail {
  margin-bottom: 5vw;
}

.heading {
  font-family: "Berkshire Swash";
  font-size: 1.5vw;
}

.diva-name {
  font-family: "Circular Std Book";
  font-size: 2.5vw;
}

.sharebtn {
  margin-left: 5%;
  font-size: 1.2vw;
  font-family: "Circular Std Book";
  font-weight: 500;
  width: 12vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.share-link-img {
  margin-left: 5%;
  width: 2.2vw;
}

.diva-name {
  display: flex;
  flex-direction: row;
}

.institute {
  font-family: "Circular Std Book";
  font-size: 1.5vw;
  font-weight: 700;
}

.instruction {
  color: #5b5858;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 1.2vw;
  margin-bottom: 2vw;
}

.label {
  font-family: "Circular Std Book";
  font-weight: 700;
  font-size: 1.5vw;
}

.input-topic {
  margin-bottom: 1vw;
}

.input {
  background: rgba(250, 250, 250, 0.93);
  box-sizing: border-box;
  border: 2px solid #e1e1e1;
  border-radius: 0.8vw;
}

.input1 {
  width: 40vw;
  height: 3vw;
}

.input2 {
  width: 30vw;
  height: 3vw;
}

.sendOTPbtn {
  margin-left: 3%;
  margin-top: 0.2%;
  font-size: 1.1vw;
  background-color: #ffffff;
  width: 8vw;
  height: 2.8vw;
  border-radius: 0.8vw;
  border: 2px solid #000000;
}

.otp-input {
  display: flex;
  align-items: center;
}
.otp-input input[type="text"] {
  width: 3.5vw;
  height: 3.5vw;
  margin: 0 5px;
  text-align: center;
  font-size: 24px;
  background: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 1vw;
}

.finish-btn {
  color: #ffffff;
  background-color: #000000;
  font-family: "Circular Std Book";
  width: 7vw;
  height: 3vw;
  margin-left: 7vw;
  font-size: 1.5vw;
  border-radius: 0.8vw;
}

.chevron-right-img {
  width: 1vw;
}

@media (max-width: 540px) {
  .largest-box {
    background-color: #000000;
    display: none;
  }
  .form-wide {
    display: none;
  }
  .form-mob {
    display: block;
  }
  #form-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .diva-img {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .sharelinkbtn-mob {
    position: absolute;
    color: #000000;
    background-color: #ffffff;
    font-family: "Circular Std Book";
    top: 5%;
    left: 60%;
    border: 1px solid #ffffff;
    border-radius: 1.6vw;
    width: 22vw;
    height: 7vw;
  }
  .candidate-detail {
    text-align: center;
    bottom: -28%;
  }
  .heading {
    font-size: 5.5vw;
  }
  .diva-name {
    font-size: 4.5vw;
  }
  .institute {
    font-size: 3.2vw;
  }
  .instruction {
    font-size: 3.3vw;
    width: 100vw;
    text-align: center;
    margin-top: 15%;
  }
  .label {
    font-size: 3.6vw;
  }
  .input1,
  .input2 {
    height: 8vw;
    width: 75vw;
    margin-bottom: 5%;
    border-radius: 2vw;
  }
  .sendOTPbtn {
    width: 75vw;
    height: 10vw;
    margin-left: -0.1%;
    font-size: 3.5vw;
    font-weight: 700;
    border-radius: 2vw;
    margin-bottom: 2%;
    border: 1px solid #000000;
  }
  .otp-input input[type="text"] {
    margin-top: 3%;
    width: 13vw;
    height: 13vw;
    border-radius: 3vw;
    margin-right: 5%;
  }
  .finish-btn {
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 5vw;
    border-radius: 2vw;
    height: 8vw;
    width: 70vw;
    border: 0.1px solid #000000;
  }
}
