@import url(//db.onlinewebfonts.com/c/564f6ec12550d3a8d7ec25152231244d?family=Star+Guard);
@import url(//db.onlinewebfonts.com/c/deb32b91d90407c8527dfeaac14994d6?family=Aileron);
/* @import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std); */
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
  margin: 0%;
  background-color: #ffffff;
}

.thanks {
  width: 100vw;
  height: auto;
}

.thanks_mob {
  display: none;
}

.left {
  position: absolute;
  font-family: "Star Guard";
  font-weight: bold;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 3.7px 0px #000000;
  font-size: 3.2vw;
  width: 40vw;
  padding-left: 10%;
  padding-top: 15%;
}

.left-text1 {
  position: relative;
  background: transparent;
  left: 5%;
  margin-bottom: 1%;
}

.alcherlogo {
  width: 80%;
}

.left-text2 {
  position: relative;
  background: transparent;
  left: 53%;
  margin-top: -6%;
}

.right {
  position: relative;
  left: 45%;
  width: 47vw;
  font-family: "Circular Std Book";
  padding-top: 15%;
  padding-left: 5%;
}

.right-text1 {
  font-size: 4.2vw;
  font-weight: 100;
}

.right-text2 {
  font-size: 2.7vw;
  font-weight: 100;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  border-radius: 10px;
  font-size: 1.5vw;
  padding: 0.8%;
  width: 25%;
  margin-top: 4%;
  cursor: pointer;
}

@media (min-width: 670px) and (max-width: 900px) {
  .left {
    font-size: 3.8vw;
    -webkit-text-stroke: 0.7px #000000;
    text-shadow: 0px 2px 0px #000000;
  }
}

@media (max-width: 600px) {
  /* body {
    font-size: 50%;
  } */
  .thanks {
    display: none;
    width: 100vw;
  }
  .thanks_mob {
    display: block;
    width: 100vw;
  }
  #thanks_mob {
    display: flex;
    flex-direction: column;
  }
  .alcherlogo {
    width: 80vw;
    /* transform: scale(1.15, 1.1); */
  }
  .left_mob {
    font-family: "Star Guard";
    /* width: 100vw; */
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0px 3.7px 0px #000000;
    margin: 40vh auto;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0px 2.5px 0px #000000;
    font-size: 8vw;
    /* position: relative;
    left: 17%; */
  }
  .left-text1 {
    position: absolute;
    left: 14%;
    top: 33%;
  }
  .left-text2 {
    position: relative;
    left: 65%;
    margin-top: -10%;
  }
  .right_mob {
    width: 70vw;
    margin-top: 10%;
    margin-bottom: 20%;
    font-family: "Circular Std Book";
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 10%;
    transform: scale(1.6, 1.5);
  }

  .right-text1 {
    font-size: 4vw;
    width: auto;
    margin-left: 10%;
  }
  .right-text2 {
    font-size: 4vw;
    width: auto;
    margin-left: 10%;
  }

  .btn {
    position: relative;
    left: 8%;
    /* margin-top: 40%; */
    width: 50%;
    height: 11vw;
    font-size: 4vw;
    margin: 30% 23%;
  }
}
