{% extends 'base/basic.html' %} {% load static %} {% block content %}
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!-- fontsssssssssssssssssssss -->
<link href="https://fonts.cdnfonts.com/css/circular-std" rel="stylesheet" />
<link href="https://fonts.cdnfonts.com/css/aileron" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet" />
<style>
  @font-face {
    font-family: TEXAT-BOLD-PERSONAL-USE;
    src: url('{% static "/fonts/TEXAT-BOLD-PERSONAL-USE.otf" %}');
  }

  @media (orientation: landscape) {
    body {
      padding: 0px;
      margin: 0px;
    }

    .largest-box {
        position: sticky;
        top:3rem;
        overflow: hidden;
        background-color: #212121;
        /* width: 100vw; */
        height: 100vh;        {% comment %} padding-top: 3vw; {% endcomment %}
      }

      .content-container {
        width: 90%;
        height: 85%;
        border-radius: 3vw;
        margin:2vw auto;
        background-color: white;
        position: relative;
      }

    .card-container {
      position: absolute;
      bottom: 0px;
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-flow: row wrap;
      overflow: scroll;
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */
      scrollbar-width: none;
      /* Firefox */
    }

    .card-container::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
    }

    .card {
      width: 14vw;
      margin: 1vw 0;
      height: 60%;
    }

    .top-alldiva {
      position: relative;
      top: 1vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .Back-button {
      cursor: pointer;
      font-size: 2vw;
      font-family: "Circular Std", sans-serif;
      text-align: center;
    }

    #searchbox {
      width: 40vw;
      text-align: center;
      font-size: large;
      border-radius: 0.5vw;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      /* opacity: 0.4; */
    }

    .searchbox_input {
      text-align: center;
      top: 2vw;
      width: 40vw;
      /* height: auto; */
      font-size: 1vw;
      border: none;
      padding: 0.5vw 0;
      border-radius: 0.2vw;
      outline: none;
    }

    .searchbox_input::placeholder {
      font-size: large;
      font-weight: bold;
      font-size: 1vw;

    }

    /* ##########################################################

          SLIDER

          ########################################################## */
    :root {
      --switches-bg-color: white;
      --switches-label-color: black;
      --switch-bg-color: black;
      --switch-text-color: white;
    }

    /* resize font-size on html and body level. html is required for widths based on rem */
    /* a container - decorative, not required */
    .container {
      border: 1px solid #aaaaaa60;
      width: fit-content;
      padding: 0.125vw;
      border-radius: 0.7vw;
      font-size: x-large;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* container for all of the switch elements
      - adjust "width" to fit the content accordingly
  */
    .switches-container {
      width: 12vw;
      border-radius: 0.7vw;
      position: relative;
      display: flex;
      padding: 0;
      position: relative;
      background: var(--switches-bg-color);
      line-height: 2.5vw;
    }

    /* input (radio) for toggling. hidden - use labels for clicking on */
    .switches-container input {
      visibility: hidden;
      position: absolute;
      top: 0;
    }

    /* labels for the input (radio) boxes - something to click on */
    .switches-container label {
      width: 50%;
      padding: 0;
      margin: 0;
      text-align: center;
      cursor: pointer;
      color: var(--switches-label-color);
    }

    /* switch highlighters wrapper (sliding left / right)
      - need wrapper to enable the even margins around the highlight box
  */
    .switch-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 3;
      transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      /* transition: transform 1s; */
    }

    /* switch box highlighter */
    .switch {
      border-radius: 0.7vw;
      background: var(--switch-bg-color);
      height: 100%;
    }

    /* switch box labels
      - default setup
      - toggle afterwards based on radio:checked status
  */
    .switch div {
      width: 100%;
      text-align: center;
      opacity: 0;
      display: block;
      color: var(--switch-text-color);
      transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
      will-change: opacity;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.3vw;
    }

    /* slide the switch box from right to left */
    .switches-container input:nth-of-type(1):checked~.switch-wrapper {
      transform: translateX(0%);
    }

    /* slide the switch box from left to right */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper {
      transform: translateX(100%);
    }

    /* toggle the switch box labels - first checkbox:checked - show first switch div */
    .switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
      opacity: 1;
    }

    /* toggle the switch box labels - second checkbox:checked - show second switch div */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
      opacity: 1;
    }

    .label_diva_hunk {
      font-size: 1.3vw;
    }

    /* ################################################################# */
    .padded-container {
      margin: 0px 10%;
      position: relative;
      height: 100%;
    }

    .after-container {
      width: 90%;
      margin: auto;
      margin-top: 0.3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .contact-us {
      width: 42%;
      display: flex;
      justify-content: center;
      margin: 0 2rem;
    }

    .contact-us img {
      cursor: pointer;
      height: 2rem;
    }

    .card-all {
      height: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1vw;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 0.5vw;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      font-size: 1vw;
    }

    .img-container-all {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

        {
        % comment %
      }

      background-image: url("img.jpg");

        {
        % endcomment %
      }

      background-position: center center;
      background-size: cover;
      position: relative;
    }

    .like-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      background-color: white;
      box-shadow: 0px 0px 3px 2px;
      padding: 0.2vw 2vw;
      border: 0px;
      border-radius: 0.7vw;
      margin: 1vw;
      cursor: pointer;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    .name-all {
      font-weight: bold;
      margin: 0.5vw 0;
      font-size: 1vw;
    }

    .college-name-all {
      font-size: 0.8vw;
      font-weight: bold;
    }

    .card-text-all {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      font-family: "Circular Std", sans-serif;
    }

    .card-text-all p {
      margin: 0px;
    }

    .like-styling-all {
      font-family: "Aileron", sans-serif;
      margin-left: 0.5vw;
      font-size: 0.9vw;
    }
  }

  @media (orientation: portrait) {
    body {
      padding: 0px;
      margin: 0px;
    }

    .largest-box {
      overflow: hidden;
      margin: 10vw 0;
      position: sticky;
      top: 0;
      height: auto;
    }

    .top-alldiva {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
    }

    .padded-container {
      position: relative;
    }

    .after-container {
      display: none;
    }

    .Back-button {
      display: none;
    }

    #searchbox {
      /* margin-top: 2vw; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 0.8vw;
    }

    .searchbox_input {
      width: 85vw;
      border: none;
      top: 2vw;
      text-align: center;
      /* padding: 0.8vw 0;  */
      opacity: 0.4;
    }

    .searchbox_input::placeholder {
      font-size: 3vw;
      font-weight: bold;
    }

    /* ##########################################################

          SLIDER

          ########################################################## */
    :root {
      --switches-bg-color: white;
      --switches-label-color: black;
      --switch-bg-color: black;
      --switch-text-color: white;
    }

    /* resize font-size on html and body level. html is required for widths based on rem */
    /* a container - decorative, not required */
    .container {
      border: 1px solid #aaaaaa60;
      width: 85%;
      padding: 0.125rem;
      border-radius: 0.7rem;
      font-size: xx-large;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 1.5rem;
    }

    /* container for all of the switch elements
      - adjust "width" to fit the content accordingly
  */
    .switches-container {
      width: 100%;
      border-radius: 0.7vw;
      position: relative;
      display: flex;
      padding: 0;
      position: relative;
      background: var(--switches-bg-color);
      /* line-height: 6vw; */
    }

    /* input (radio) for toggling. hidden - use labels for clicking on */
    .switches-container input {
      visibility: hidden;
      position: absolute;
      top: 0;
    }

    /* labels for the input (radio) boxes - something to click on */
    .switches-container label {
      width: 50%;
      padding: 0;
      margin: 0;
      text-align: center;
      cursor: pointer;
      color: var(--switches-label-color);
    }

    /* switch highlighters wrapper (sliding left / right)
      - need wrapper to enable the even margins around the highlight box
  */
    .switch-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 3;
      transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      /* transition: transform 1s; */
    }

    /* switch box highlighter */
    .switch {
      border-radius: 0.7vw;
      background: var(--switch-bg-color);
      height: 100%;
    }

    /* switch box labels
      - default setup
      - toggle afterwards based on radio:checked status
  */
    .switch div {
      width: 100%;
      text-align: center;
      opacity: 0;
      display: block;
      color: var(--switch-text-color);
      transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
      will-change: opacity;
      position: absolute;
      top: 0;
      left: 0;
      /* font-size: 4.3vw; */
    }

    /* slide the switch box from right to left */
    .switches-container input:nth-of-type(1):checked~.switch-wrapper {
      transform: translateX(0%);
    }

    /* slide the switch box from left to right */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper {
      transform: translateX(100%);
    }

    /* toggle the switch box labels - first checkbox:checked - show first switch div */
    .switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
      opacity: 1;
    }

    /* toggle the switch box labels - second checkbox:checked - show second switch div */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
      opacity: 1;
    }

    .label_diva_hunk {
      /* font-size: 4.3vw; */
    }

    /* ################################################################# */
    .content-container {
      background-color: white;
    }

    .card-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
      margin-top: 2vw;
    }

    .card {
      width: 41vw;
      margin: 7vw 0;
      height: 50vw;
    }

    .card-all {
      height: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      font-size: 4vw;
    }

    .img-container-all {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

        {
        % comment %
      }

      background-image: url("img.jpg");

        {
        % endcomment %
      }

      background-position: center center;
      background-size: cover;
      position: relative;
    }

    .like-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
      background-color: white;
      box-shadow: 0px 0px 3px 2px;
      padding: 0.2vw 1.6vw;
      border: 0px;
      border-radius: 0.7vw;
      margin: 0.2vw;
      cursor: pointer;
      position: absolute;
      bottom: 0px;
      right: -0.9vw;
      transform: scale(0.6);
    }

    .name-all {
      font-size: 2vw;
      font-weight: bold;
      margin: 0.8vw 0;
    }

    .college-name-all {
      font-size: 1.7vw;
      font-weight: bold;
    }

    .card-text-all {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      font-family: "Circular Std", sans-serif;
    }

    .card-text-all p {
      margin: 0px;
    }

    .like-styling-all {
      font-family: "Aileron", sans-serif;
      margin-left: vw;
    }
  }
</style>

<div class="largest-box">
  <div class="content-container">
    <div class="padded-container">
      <div class="top-alldiva">
        <span class="Back-button" onclick="window.location.href=`{% url 'home'  %}`"><span>
            <img src="
            {%static '/images/back-arrows.svg'%}" style="height: 1.5vw" alt="" />
          </span>
          Back</span>
        <form method="GET" action="" id="searchbox">
          {% csrf_token %}
          <input type="text" name="search" placeholder="Search for the participant by name" class="searchbox_input" />
          {% comment %} FORM IS SUBMITTED ON PRESSING ENTER KEY {% endcomment %}
        </form>
        <div class="container">
          {% if isdiva %}
          <a href="{% url 'list' %}?Hunk=" style="text-decoration: none;">
            <div class="switches-container">
              <input type="radio" name="Diva" value="" checked="checked" />
              <input type="radio" name="Hunk" value="" />
              <label for="switchMonthly" style="font-family: 'Berkshire Swash', cursive; color: #aaaaaa">Diva</label>
              <label for="switchYearly" style="font-family: 'TEXAT-BOLD-PERSONAL-USE'; color: #aaaaaa">Hunk</label>
              <div class="switch-wrapper">
                <div class="switch">
                  <div style="
                    font-family: 'Berkshire Swash', cursive;
                  ">
                    Diva
                  </div>
                  <div style="
                    font-family: 'TEXAT-BOLD-PERSONAL-USE';
                  ">
                    Hunk
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% else %}
          <a href="{% url 'list' %}?Diva=" style="text-decoration: none;">
            <div class="switches-container">
              <input type="radio" name="Diva" value=""  />
              <input type="radio" name="Hunk" value="" checked="checked" />
              <label for="switchMonthly" style="font-family: 'Berkshire Swash', cursive; color: #aaaaaa">Diva</label>
              <label for="switchYearly" style="font-family: 'TEXAT-BOLD-PERSONAL-USE'; color: #aaaaaa">Hunk</label>
              <div class="switch-wrapper">
                <div class="switch">
                  <div style="
                    font-family: 'Berkshire Swash', cursive;
                  ">
                    Diva
                  </div>
                  <div style="
                    font-family: 'TEXAT-BOLD-PERSONAL-USE';
                  ">
                    Hunk
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endif %}



        </div>
      </div>
      <div class="card-container">
        {%for item in diva%}
        <div class="card">
          <div class="card-all">
            <div
              class="img-container-all"
              style="background-image: url({{item.image.url}})"
            >
              <div
                class="like-button"
                onclick="window.location.href=`{% url 'diva register' item.id %}`"
              >
                <span class="material-symbols-outlined">favorite </span
                ><span class="like-styling-all"> Vote</span>
              </div>
            </div>
            <div class="card-text-all">
              <div class="name-all">
                <p>{{item.name}}</p>
              </div>
              <div class="college-name-all">
                <p>IIT Guwahati</p>
              </div>
            </div>
          </div>
        </div>
        {%endfor%} {%for item in hunk%}
        <div class="card">
          <div class="card-all">
            <div
              class="img-container-all"
              style="background-image: url({{item.image.url}})"
            >
              <div
                class="like-button"
                onclick="window.location.href=`{% url 'hunk register' item.id %}`"
              >
                <span class="material-symbols-outlined">favorite </span
                ><span class="like-styling-all"> Vote</span>
              </div>
            </div>
            <div class="card-text-all">
              <div class="name-all">
                <p>{{item.name}}</p>
              </div>
              <div class="college-name-all">
                <p>IIT Guwahati</p>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
      </div>
      <div class="after-container">
      </div>
      {% comment %}
      <form method="GET" action="">
        {% csrf_token %}
        <input type="search" name="search" />
        <button type="submit" name="Diva">Divas</button>
        <button type="submit" name="Hunk">Hunks</button>
        <button type="submit">Search</button>
      </form>
      <div style="color: red; font-size: 30px">{{message}}</div>
      <ul>
        {% for item in diva %}
        <li>
          <a href="{% url 'diva register' item.id %}">{{item.name}}</a>
        </li>
        {%endfor%} {% for item in hunk %}
        <li>
          <a href="{% url 'hunk register' item.id %}">{{item.name}}</a>
        </li>
        {%endfor%}
      </ul>
      {% endcomment %}
    </div>
    {% endblock %}