{% extends 'base/home.html' %} {% load static %} {% block content %}

<!-- <div style="font-size: 30px">Voting for {{candidate.name}}</div> -->

<link rel="stylesheet" href="{% static '/css/register.css' %}" />
<div class="largest-box" style="background-color: #212121; height: 120vh; padding: 5vw 0%;position: sticky;top: -25vh;">
  
  <form
    method="POST"
    style="font-size: 30px;width: 90%;height: auto;border-radius: 3rem;margin: auto;background-color: white;padding-top: 1%;">
    {% csrf_token %}
    <div
      style="
        display: flex;
        font-family: 'outfit';
        margin-left: 10%;
        cursor: pointer;
      "
      onclick="window.location.href=`{% url 'home' %}`"
    >
      <img
        src="{% static '/images/Chevron-left.svg' %}"
        style="width: 1.5vw; margin-right: 1%"
      />
      <div style="font-weight: 200; font-size: 1.5vw">Back</div>
    </div>
    <div class="form-wide">
      <img src="{{candidate.image.url}}" class="diva-img" />
      <div class="registerForm">
        <div class="candidate-detail">
          <div class="heading">
            <h4>{{type}}’s Name</h4>
          </div>
          <div class="diva-name">
            <h2>{{candidate.name}}</h2>
            <button type="button" class="sharebtn" onclick="cpytxt()">
              Share Link
              <img
                src="{% static '/images/ShareLink.png' %}"
                class="share-link-img"
              />
            </button>
          </div>
          <div class="institute">Institute: {{candidate.college}}</div>
          
        </div>
        <div class="instruction">
          Please enter the required info to prevent multiple votes <br />We will
          send an OTP to te entered Email for verification
        </div>
        <div style="color: green;padding-bottom: 0px;" class="institute">{{message}}</div>
        <div class="input-topic">
          <div class="label" for="exampleInputUser">Your Name</div>
          <input type="text" name="name" id="name" class="input input1 inputs" required />
          <!-- {{form.name}} -->
        </div>
        <div class="input-topic">
          <div class="label" for=" exampleInputEmail">Contact No.</div>
          <input type="number" name="contactno" id="contactno" class="input input1" required />
          <!-- {{form.contact}} -->
        </div>
        <div class="input-topic">
          <div class="label" for=" exampleInputPassword1">E-mail</div>
          <div style="display: flex">
            <input type="email" name="email" id="email" class="input input2 " required />
            <!-- {{form.email}} -->

            <button type="submit" name="sendOTP" id="sentdOTPbtn" class="sendOTPbtn">
              Send OTP
            </button>
          </div>
        </div>
        <div class="label" for=" exampleInputPassword2">OTP</div>

        {% if disabled %}
        <input type="text" name="name" class="input input2 " value="{{name}}"  required style="display:none" />
        <input type="number" name="contactno" class="input input2 " value="{{contactno}}"  required style="display:none" />
        <input type="email" name="email" class="input input2 " value="{{email}}"  required style="display:none" />
        {% endif %}

        <div class="otp-input input-topic">
          <input
            type="text"
            pattern="[0-9]*"
            id="tx1"
            inputmode="numeric"
            maxlength="1"
            class="input otp-input" name="otp_1"
            onkeyup="move(event,'', 'tx1', 'tx2')"
          />
          <input
            type="text"
            id="tx2"
            pattern="[0-9]*"
            inputmode="numeric"
            maxlength="1"
            class="input otp-input" name="otp_2"
            onkeyup="move(event,'tx1', 'tx2', 'tx3')"
          />
          <input
            type="text"
            id="tx3"
            pattern="[0-9]*"
            inputmode="numeric"
            maxlength="1"
            class="input otp-input" name="otp_3"
            onkeyup="move(event,'tx2', 'tx3', 'tx4')"
          />
          <input
            type="text"
            id="tx4"
            pattern="[0-9]*"
            inputmode="numeric"
            maxlength="1"
            class="input otp-input" name="otp_4"
            onkeyup="move(event,'tx3', 'tx4', '')"
          />
          <!-- {{form.otp}} -->
          <button type="submit" name="verify" class="finish-btn" disabled>
            Finish
            <img
              src="{% static '/images/Chevron-right.svg' %}"
              class="chevron-right-img"
            />
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="form-mob" id="form-mob">
  <!-- <div style="display: flex; font-family: 'outfit'; margin-left: 10%; margin-top: 2%;">
    <img src="{% static '/images/Chevron-left.svg' %}" style="width: 3vw; margin-right: 1%;" />
    <div style="font-weight: 200; font-size: 2.5vw;">Back</div>
  </div> -->
  <div style="position: relative">
    <img src="{{candidate.image.url}}" class="diva-img" />
    <button type="button" class="sharelinkbtn-mob" onclick="cpytxt()">
      Share Link
    </button>
  </div>
  <div class="candidate-detail">
    <div class="heading">
      <h4>{{type}}’s Name</h4>
    </div>
    <div class="diva-name">
      <h1>{{candidate.name}}</h1>
    </div>
    <div class="institute">Institute: {{candidate.college}}</div>
  </div>
  <div class="instruction">
    Please enter the required info to prevent multiple votes <br />We will send
    an OTP to te entered Email for verification
  </div>
  <div style="width: 95vw; margin-left: 5vw; margin-top: 8vw; width: 80vw">
    <div class="input-topic">
      <div class="label" for="exampleInputUser">Your Name</div>
      <input type="text" class="input input1 " id="name" name="name" required/>
      <!-- {{form.name}} -->
    </div>
    <div class="input-topic">
      <div class="label" for=" exampleInputEmail">Contact No.</div>
      <input type="number" class="input input1 " id="contactno" name="contactno" required/>
      <!-- {{form.contact}} -->
    </div>
    <div class="input-topic">
      <div class="label" for=" exampleInputPassword1">E-mail</div>
      <div>
        <input type="email" class="input input2  " id="email" name="email" required/>
        <!-- {{form.email}} -->
      </div>
      <button type="submit" name="sendOTP" id="sentdOTPbtn" class="sendOTPbtn">Send OTP</button>
    </div>
    <div class="label" for=" exampleInputPassword2">OTP</div>
    <div class="otp-input input-topic">
      <input
        type="text"
        id="txt1"
        pattern="[0-9]*"
        inputmode="numeric"
        maxlength="1"
        class="input otp-input" name="otp_1"
        onkeyup="move(event,'', 'txt1', 'txt2')"
      />
      <input
        type="text"
        id="txt2"
        pattern="[0-9]*"
        inputmode="numeric"
        maxlength="1"
        class="input otp-input" name="otp_2"
        onkeyup="move(event,'txt1', 'txt2', 'txt3')"
      />
      <input
        type="text"
        id="txt3"
        pattern="[0-9]*"
        inputmode="numeric"
        maxlength="1"
        class="input otp-input" name="otp_3"
        onkeyup="move(event,'txt2', 'txt3', 'txt4')"
      />
      <input
        type="text"
        id="txt4"
        pattern="[0-9]*"
        inputmode="numeric"
        maxlength="1"
        class="input otp-input" name="otp_4"
        onkeyup="move(event,'txt3', 'txt4', '')"
      />
      <!-- {{form.otp}} -->
    </div>
    <button type="submit" name="verify" class="finish-btn" disabled>
      Finish
      <!-- <img
        src="{% static '/images/Chevron-right.svg' %}"
        class="chevron-right-img"
      /> -->
    </button>
  </div>
</div>
<script type="text/javascript">
  function cpytxt() {
    navigator.clipboard.writeText(window.location.href);
  }
  function move(e,p,c,n){
    var length = document.getElementById(c).value.length;
    var maxlength = document.getElementById(c).getAttribute("maxlength");
    if(length==maxlength){
      if(n != ""){
        document.getElementById(n).focus();

      }
      
    }

    if(e.key == "Backspace"){
      if(p != ""){
        document.getElementById(p).focus();
      }
    }
    console.log(length);
  }
</script>
<script>
  function move(e,p,c,n){
    var length = document.getElementById(c).value.length;
    var maxlength = document.getElementById(c).getAttribute("maxlength");
    if(length==maxlength){
      if(n != ""){
        document.getElementById(n).focus();

      }
      
    }

    if(e.key == "Backspace"){
      if(p != ""){
        document.getElementById(p).focus();
      }
    }
    console.log(length);
  }
  


  if("{{disabled}}" == 'True'){
    document.getElementById('name').value= "{{name}}";
    document.getElementById('name').disabled= "true";
    document.getElementById('contactno').value= "{{contactno}}";
    document.getElementById('contactno').disabled= "true";
    document.getElementById('email').value= "{{email}}";
    document.getElementById('email').disabled= "true";
    document.getElementById("sentdOTPbtn").disabled="true";
    document.getElementById("sentdOTPbtn").style.cursor="default";
    document.getElementsByName('otp_1')[0].required = true;
    document.getElementsByName('otp_2')[0].required = true;
    document.getElementsByName('otp_3')[0].required = true; 
    document.getElementsByName('otp_4')[0].required = true;
    document.getElementsByName('verify')[0].disabled = false;
    document.getElementsByName('verify')[0].style.cursor = 'pointer';
    
  }
</script>

{% endblock %}
