{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/thanks.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>
    <div class="thanks">
      <div class="left">
        <div class="left-text1">IIT Guwahati’s</div>
        <img
          src="{% static '/images/AlcherLogo.png' %}"
          alt="img"
          class="alcherlogo"
        />
      </div>

      <form class="right" method="Get" action="{% url 'list' %}">
        <div class="right-text1">Thank you for <b>VOTING</b></div>
        <div class="right-text2">
          Come join us from <b>2<sup>nd</sup></b> to
          <b>5<sup>th</sup></b> Feb’23
        </div>
        <button class="btn" type="submit" name="Diva">Vote for Diva</button>
      </form>
    </div>

    <!-- Mobile View  -->

    <div class="thanks_mob" id="thanks_mob">
      <div class="left_mob">
        <div class="left-text1">IIT Guwahati’s</div>
        <img
          src="{% static '/images/AlcherLogo.png' %}"
          alt="img"
          class="alcherlogo"
        />
      </div>
      <div class="right_mob">
        <div class="right-text1">Thank you for <b>VOTING</b></div>
        <div class="right-text2">
          Come join us from <b>2<sup>nd</sup></b> to
          <b>5<sup>th</sup></b> Feb’23
        </div>
        <button
        class="btn"
        onclick="window.location.href=`{% url 'list'  %}?Hunk=`"
      >
        Vote for Hunk
      </button>
      </div>
    </div>
  </body>
</html>
{% endblock %}
